@font-face {
  font-family: "iconfont"; /* Project id 3422712 */
  src: url('iconfont.woff2?t=1653364067172') format('woff2'),
       url('iconfont.woff?t=1653364067172') format('woff'),
       url('iconfont.ttf?t=1653364067172') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-lingliao:before {
  content: "\e688";
}

